<!DOCTYPE html>
<html>
<head>
  <style type="text/css">
    .boattext {
        color: #2A6D73;
        margin-bottom: 10px;
        font-size: 30px;
        font-family: "Helvetica", sans-serif;
        margin: 5px
    }

    .boatbox {
        width: auto;
        overflow-x: hidden;
        margin-bottom: 15px;
        background: white;
        padding: 10px 15px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        vertical-align: middle;
    }
      .up {
        border-left: 4px #71D65B solid;
      }
      .down {
        border-left: 4px #D65B5B solid;
      }

    #formcontainer {
        padding: 20px;
        width: auto;
        max-width: 900px;
        margin: 0 auto;
        display: block;
    }

  </style>
</head>

<body>

  <div id="formcontainer">
      <p class="yourboat boattext">Add a new boat</p>

      <form id="addBoatForm" enctype="multipart/form-data" action="/boat/create" method="post">
          <label>Name</label> <input type="text" name="boat_name"/><br />
          <label>Git URL</label> <input type="text" name="boat_giturl"/><br />
          <label>Main app file</label> <input type="text" value="app.js" name="boat_main_app_file"/>
          <input type="submit" value="submit"/>
      </form>

  </div>
</body>
</html>
